[MASTER]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring

[REPORTS]
output-format=colorized

[BASIC]
argument-rgx=^[a-z][a-z0-9_]*$
attr-rgx=^[a-z][a-z0-9_]*$
variable-rgx=^[a-z][a-z0-9_]*$

[FORMAT]
max-line-length=200

[DESIGN]
min-public-methods=1
