DINNER_OPTIONS = [
    'chicken',
    'fish',
    'pancakes',
    'pizza',
    'spaghetti',
]

WEATHER_API_KEY = ''
WEATHER_CITY = 'Toronto,CA'

# svm, knn, extratrees, gradientboosting, randomforest
CLASSIFIER_TYPE = 'svm'
MODEL_NAME = 'command-model'
