[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "<2.0.0"

[packages]
pyaudio = "*"
pylint = "*"
requests = "*"
pyaudioanalysis = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
eyed3 = "*"
pydub = "*"
sklearn = "*"

[requires]
python_version = "3.6.10"
